.user-component__subtitle-more{
  display: flex;
  align-items: center;
}
.number__alert{
  display: block;
  border : 3px solid tomato;
  font-size: 13px;
  font-weight: 600;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: tomato;
  margin-left: 5px;
}
.more-screen .icon-row{
  margin-top: 20px;
}
.more-suggestions{
  border-top: var(--main-border);
  padding-top: 20px;
  font-weight: 600;
}
.more-suggestions__title{
  margin-bottom: 20px;
}
.more-suggestions__icons{
  display: flex;
  align-items: center;
}
.more-suggestions__icon{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.more-suggestions__icon-image{
  margin-bottom: 10px;
  background-color: var(--yellow);
  display: block;
  padding: 12px;
  border-radius: 10px;
  color: whitesmoke;
  transition: border 0.3s ease-in-out;
}
.more-suggestions__icon-text{
  font-size: 12px;
}
.more-suggestions__icon-image:hover{
  border: var(--main-border);
  cursor: pointer;
}